@import "tailwindcss";

@plugin "flyonui" {
  themes: light --default, dark --prefersdark;
}

@import "flyonui/variants.css";

@source "../node_modules/flyonui/flyonui.js";

@plugin "@iconify/tailwind4";

@import "flyonui/src/vendor/notyf.css";

/* .notyf__icon {
  width: 26px !important;
  height: 26px !important;
  aspect-ratio: 1 / 1 !important;
} */